
.DocumentList
{
    /* overflow-x:hidden; */
    /* overflow-y:hidden; */
    height:100%;
    width:100%;
    padding: 0 15px;
}

.DocumentItem
{
    padding:0;
    height:100%;
    width:300px;
    vertical-align: top;
    float:left;
}

.list-inline {
    white-space:nowrap;
}
